@model Carrito_de_Compra.Models.Pedido

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-10 col-md-offset-1">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th>Producto</th>
                        <th>Cantidad</th>
                        <th class="text-center">Precio</th>
                        <th class="text-center">Subtotal</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var i in Model.Detalle)
                    {

                        <tr>
                            <td class="col-sm-8 col-md-6">
                                <div class="media">
                                    <img src="~/Content/Imagenes/Articulos/@i.Articulo.UrlImagen" alt="img" style="width: 72px; height: 72px;">
                                    <div class="media-body">
                                        <h4 class="media-heading">@i.Articulo.NombreArticulo</h4>
                                        <h5 class="media-heading"> @i.Articulo.Marca.NombreMarca</h5>
                                        <span>Status: </span><span class="text-success"><strong>@i.Pedido.Status.NombreStatus</strong></span>
                                    </div>
                                </div>
                            </td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@i.Cantidad</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@i.Articulo.Precio</strong></td>
                            <td class="col-sm-1 col-md-1 text-center"><strong>@i.Subtotal</strong></td>
                            <td class="col-sm-1 col-md-1">

                                <a href="@Url.Action("Eliminar", new { id = i.IdArticulo}) " class="btn btn-danger"> <span class="glyphicon glyphicon-remove"></span></a>
                            </td>
                        </tr>
                    }

                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Subtotal</h5></td>
                        <td class="text-right"><h5><strong>@Model.SubTotal</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h5>Impuesto</h5></td>
                        <td class="text-right"><h5><strong>@Model.Impuesto</strong></h5></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td><h3>Total</h3></td>
                        <td class="text-right"><h3><strong> @Model.Total</strong></h3></td>
                    </tr>
                    <tr>
                        <td>   </td>
                        <td>   </td>
                        <td>   </td>
                        <td>
                            <a href="/Articulo/ListaArticulo/" class="btn btn-default">
                                <span class="glyphicon glyphicon-shopping-cart"></span> Continuar comprando
                            </a>
                        </td>
                        <td>
                            <button type="button" class="btn btn-success" data-toggle="modal" data-target="#myModal">
                                Checkout <span class="glyphicon glyphicon-play"></span>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

        </div>
    </div>
</div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Metodo de Pago</h4>
            </div>


            <div class="form-horizontal">
                <div class="form-group">
                    <label for="nombre" class="control-label col-md-2">Nombre</label>
                    <div class="col-md-10">
                        <input class="form-control" value="@ViewBag.Nombre" id="nombre" disabled />
                    </div>
                </div>

                <div class="form-group">
                    <label for="apellidos" class="control-label col-md-2">Apellidos</label>
                    <div class="col-md-10">
                        <input class="form-control" value="@ViewBag.Apellido" id="apellidos" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label for="telefono" class="control-label col-md-2">Telefono</label>
                    <div class="col-md-10">
                        <input class="form-control" value="@ViewBag.Telefono" id="telefono" disabled />
                    </div>
                </div>
                <div class="form-group">
                    <label for="direccion" class="control-label col-md-2">Direccion</label>
                    <div class="col-md-10">
                        <textarea class="form-control" id="direccion" disabled>@ViewBag.Direccion</textarea>
                    </div>
                </div>

                <div class="form-group">
                    <label for="correo" class="control-label col-md-2">Correo</label>
                    <div class="col-md-10">
                        <input class="form-control" value="@ViewBag.Correo" id="correo" type="email" disabled />
                    </div>
                </div>
            </div>
                <div class="row">
                    <div class="modal-body" style="text-align: center;">
                        <h6 class="col-md-7"></h6>
                        <h6 class="col-md-5"></h6>
                    </div>
                </div>



                <div class="modal-footer">

                    <a href="/Articulo/Confirmar/" type="submit" class="btn btn-primary btn-lg btn-block">
                        Confirmar <span class="glyphicon glyphicon-play"></span>
                    </a>
                </div>
            </div>

        </div>
</div>
<script src="https://www.paypal.com/sdk/js?client-id=sb"></script>
<script>paypal.Buttons().render('h6');</script>